@charset "utf-8";

body {
    margin: 0;
}
.header, .visual, .main-content, .slogan, .footer{
    margin: 0 auto;
    width: 940px;
}
.header{
    box-sizing: border-box;
    /* border-box: 지정한 크기에 margin,padding포함됨 */
    background-color: blue;
    height: 10vh;       /*화면크기에따라 달라짐:viewport height*/
}
.visual{
    background-color: lime;
    height: 120px;
}
.main-content{
    min-height: 400px;
    background-color:skyblue;
}
.slogan{
    background-color:orange;
    padding: 15px 0;
}
.footer-bg{
    background-color: silver;
    padding: 15px 0;
}
.footer{
    background-color:yellow;
}